@font-face {
    font-family: nuehass;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: nuehass;
    font-weight: 300;
    src: url(./NeueHaasDisplayLight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: nuehass;

}

html , body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: nuehass;


}

.main{
    position: relative;
    z-index: 10;

}




#page1{
    min-height: 100vh;
    width: 100%;
    max-width: none;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0vw;
    z-index: 100;
    width: 100%;
    background-color: #efeae3;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
    
}

#nav-part2>h4{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: 500;
    color: black;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}


#nav-part2 h4::after{
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;

}
#nav h3{
    display: none;
}


#nav-part2 h4:hover::after{
    bottom: 0%;
    border-radius: 0;
}

#nav-part2>h4>a{
    text-decoration: none;
    color: #00000b;
    z-index: 9;
    position: relative;
}

#nav-part2 h4:hover a{
    color: white; 
}


#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #00000b;
    padding-bottom: 2.5vw;
}


#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#right h1{
    text-align: right;
    align-items: center;
    font-size: 10vw;
    line-height: 8vw;
}

#page1 video{
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;


}

#hero-shape{
    position: absolute;
    right: 0;
    top: 70vh;
    height: 36vw;
    width: 46vw;
}

#hero1{
    position: absolute;
    background: linear-gradient(#FE330A, #fe3116);
    height: 36vw;
    width: 46vw;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    filter: blur(20px);
}
#hero2{
    position: absolute;
    background: linear-gradient(#FE330A, #fe3116);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    /* border-bottom-left-radius: 50%;
    border-top-left-radius: 50%; */
    filter: blur(20px);
    animation-name: anime2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-direction: alternate;
    
}
#hero3{
    position: absolute;
    background: linear-gradient(#FE330A, #fe3116);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    /* border-bottom-left-radius: 50%;
    border-top-left-radius: 50%; */
    filter: blur(20px);
    animation-name: anime1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 20%);
    }
}


#page2{
    min-height: 100vh;
    width: 100%;
    max-width: none;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;
}



.moving-line{
    white-space: nowrap;

}
.con-text{
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 10px;
    animation-name: anim;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    margin-top: 5vw;
}


.moving-line h1{
    display: inline-block;

    font-size: 9vw;

}

.gola{
    margin: 1vw 2vw;
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: #fe3116;
    border-radius: 50%;
}

@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#page2_bottom{
    height: 80vh;
    width: 100%;
    padding: 3vw;
    background-color:#efeae3 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2_bottom h1{
    width: 60%;
    font-size: 4vw;
    z-index: 9;
    position: relative;
    font-weight: 900;
    line-height: 4vw;
    z-index: 10;
}

#bottom-part2 {
    /* background-color: aqua; */
    width: 25%;
}

#bottom-part2 img{
    width: 100%;
    border-radius: 20px;
}

#bottom-part2 p{
    font-weight: 300;
    margin-top: 2.5vw;
}

#bada_gol{
    height: 32vw;
    width: 32vw;
    background-color: #fc7339;
    border-radius: 50%;
    position: absolute;
    filter: blur(20px);
    top:58%;
    left: 25%;
    margin: bottom 100px; ;
}

.circle1{
    height: 30vw;
    width: 30vw;
    background-color: #fc7339;
    border-radius: 50%;
    position: absolute;
    animation-name: ani;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(20px);
}
.circle2{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background-color: #fe3116;
    border-radius: 50%;
    animation-name: ani2;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(20px);
}


@keyframes ani {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(-10%, 10%);
    }
}
@keyframes ani2 {
    from {
        transform: translate(10%, -10% ) skew(10deg);
    }

    to {
        transform: translate(-10%, 10%) skew(20deg);
    }
}

#page3{
    min-height: 100vh;
    width: 100%;
    max-width: none;
    background-color: #efeae3;
    padding: 4vw 0;
    font-family: nuehaas;
}


#page3 .elem{
    height: 130px;
    width: 100%;
    border-bottom: 1px solid rgb(191, 179, 179);
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 2vw;
    overflow: hidden;
    background-color: #efeae3;

}

#page3 .dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FE330A;
}


#page3 .future{
    position: relative;
    top: 0;
    background-color: 0;
    display: flex;
    align-items: center;
    padding: 3vw 2vw;
    gap: 0.5vw;
}

.future p{
    font-weight: 300;
}

.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .over-lay{
    background-color: orange;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    transition: all ease 0.25s;
}

.elem:hover .over-lay{
    top: 0;
    
}

#last-btn h4{
    padding: 14px 20px ;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 50px;
    width: 140px;
    height: 50px;
    position: absolute;
    margin-top: 50px;
    left: 5%;
    overflow: hidden;
    z-index: 9;
}

#last-btn h4 a{
    position: relative;
    z-index: 9;
    color: #00000b;
    text-decoration: none;
}

#last-btn h4::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #00000b;
    position: absolute;
    left: 0%;
    top: 100%;
    border-radius: 50px;
    transition: all ease 0.4s;
    color: white;

}

#last-btn h4:hover::after{
    top: 0%;
   
}

#last-btn h4:hover a{
    color: white;
}


.fixed-image{
    height: 30vw;
    width: 25vw;
    border-radius: 30px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 30%;
    background-size: cover;
    background-position: center;

    display: none;
    
}


#page4{
    position: relative;
    min-height: 150vh;
    width: 100%;
    max-width: none;
    background-color: #efeae3;
    display: flex;
    align-items: center;
    padding: 10vw 2vw;


}

#page4 .black-box{
    position: relative;
    top: 5%;
    height: 110vh;
    width: 100%;
    background-color: #00000b;
    color: white;
    display: flex;
    align-items: center;
    margin: 0vw 2vw;
    border-radius: 21px;
    overflow: hidden;
    gap: 14px;

}

#page4 #right-side{
    position: absolute;

    height: 100%;
    width: 100vw;
}

#page4 img{
    position: absolute;
    right: 0%;
    width: 60%;
    height: 100%;
    background-size: cover;
    border-radius: 21px;
    background-size: cover;
}



.black-box #upper-text{
    position: absolute;
    top: 15%;
    left: 7%;
    font-size: 35px;
    border-left: 2px solid #504a45;

}

#upper-text a{
    color: #efeae3;
}

.acd{
    color: #504a45;
    padding-left: 25px;
}

.black-box .lower-text{
    position: absolute;
    top: 50%;
    left: 7%;
    color: #efeae3;
    font-weight: 100;
}



#page4 #left-side p{
    position: absolute;
    left: 10%;
    top: 40%;
    width: 30vw;
}




#page5{
    height: 100vh;
    width: 100%;
    max-width: none;
}

#footer{
    position: fixed;
    background-color: #00000b;
    color: white;
    height: 105vh;
    width: 100%;
    z-index: 9;
    bottom: 0;

    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;

}


.footerupper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 30%;
    padding: 0 3vw;
}




.sundown-img{
    position: fixed;
    top: 53%;
    width: 100vw;
}


#footer p{
    font-size: 1.3vw;
    color: #efeae3;

} 

#footer h2{
    font-size: 2vw;
    color: #EFEAE3 ;

}

#footer h6{
    /* right: 27%; */
    font-size: 1.2rem;
    padding-top: 30px;
    color: #efeae3;
    font-weight: 200;
    padding-bottom: 10px;
    border-bottom: 1px solid white;

}

.sundown-line{
    border-top: 1px solid #504A45;
    width: 92%;
    top: 90%;
    font-size: 21px;
    color: #efeae3;
    position: absolute;
    height: 10vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#emailId{
    display: flex;
    top: 26%;
    position: absolute;
    right: 10%;
    flex-direction: column;
}

#emailId h6{
    padding-top: 3vw;
    font-weight: 200;
    font-size: 1.2vw;
    border-bottom: 1px solid #d3cdc1df;
    color: #d3cdc1df;
    padding-bottom: 0.5vw;
}





.swiper {
    width: 100%;
    height: 100vh;
    background-color: #efeae3;
}
  


.swiper-slide {
    margin: 0vw 4vw;
    height: 40%;
    font-size: 18px;
    border-left: 1px solid #aeadad;
    width: 30%;
    padding: 1vw 0vw  1vw 2vw;
}

.swiper-slide p{
    width: 100%;
    color: #2a2929f4;
    font-size: 2vh;
}




.shapes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.shape1{
    position: absolute;
    top: -50%;
    left: -20%;
    width: 90%;
    height: 90%;
    background-color: red;
    filter: blur(30px);
    animation-name: shape1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4.1s;
    animation-direction: alternate;
}

@keyframes shape1{
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

.shape2{
    position: absolute;
    right: -27%;
    top: -27%;
    width: 70%;
    height: 90%;
    background-color: red;
    filter: blur(30px);
    animation-name: shape2;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4.1s;
} 

@keyframes shape2{
    0% {
        transform: rotate(30deg);
    }
    
    100% {
        transform: rotate(45deg);
    }
}


.loader{
    height: 100vh;
    width: 100%;
    background-color: #00000b;
    z-index:99;
    position: fixed;
    top: 0%;
    transition: 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;

    


}



.loader h1{
    color: transparent;
    font-size: 5vw;
    position: absolute;
    background: linear-gradient(to right, orange, orangered);
    opacity: 0;
    animation-name: load;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 1s;
    -webkit-background-clip: text ;

}

.loader h1:nth-child(2){
    animation-delay: 2s;
}
.loader h1:nth-child(3){
    animation-delay: 3s;
}


@keyframes load{
    0%{
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}


@media (max-width:600px){
    #page1{
        min-height: 100vh;
        width: 100vw;
        background-color: #efeae3;
        position: relative;
        padding: 0 5vw;
    }
    
    #nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8vw 0vw;
        z-index: 100;
        width: 100%;
        background-color: #efeae3;
    }

    #nav img{
        height: 9vh;
    }

    #nav h3{
        display: block;
        border: 1px solid #00000b;
        padding: 2vw 5vw;
        border-radius: 50px;
        position: relative;
        font-weight: 200;
        padding-left: 10vw;
        z-index: 29;
    }

    
    #nav-part2{
        display: none;
        align-items: center;
        gap: 1vw;
        display: none;
    }
    
    #nav-part2>h4{
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 50px;
        font-weight: 500;
        color: black;
        font-size: 18px;
        position: relative;
        transition: all ease 0.4s;
        overflow: hidden;
    }
    
    
    #nav-part2 h4::after{
        content:"";
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: black;
        left: 0;
        bottom: -100%;
        border-radius: 50%;
        transition: all ease 0.4s;
    
    }
    
    #nav-part2 h4:hover::after{
        bottom: 0%;
        border-radius: 0;
    }
    
    #nav-part2>h4>a{
        text-decoration: none;
        color: #00000b;
        z-index: 9;
        position: relative;
    }
    
    #nav-part2 h4:hover a{
        color: white; 
    }


    #center{
        height: 62vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 5vw 5vw;
        border-bottom: 1px solid #00000b;
        padding-bottom: 10.5vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }
    
    
    #left h3{
        width: 80%;
        font-size: 5.5vw;
        line-height: 5.5vw;
        position: absolute;
        left: 5%;
        top: 45%;
    }
    
    #right h1{
        text-align: right;
        align-items: center;
        font-size: 16vw;
        line-height: 14vw;
    }
    
    #page1 video{
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        width: 95%;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        margin-left: 4%;
    
    
    }
    
    #hero-shape{
        position: absolute;
        right: 0;
        top: 70vh;
        height: 36vw;
        width: 46vw;
    }
    
    #hero1{
        position: absolute;
        background: linear-gradient(#FE330A, #fe3116);
        height: 36vw;
        width: 46vw;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        filter: blur(20px);
    }
    #hero2{
        position: absolute;
        background: linear-gradient(#FE330A, #fe3116);
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        /* border-bottom-left-radius: 50%;
        border-top-left-radius: 50%; */
        filter: blur(20px);
        animation-name: anime2;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-direction: alternate;
        
    }
    #hero3{
        position: absolute;
        background: linear-gradient(#FE330A, #fe3116);
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        /* border-bottom-left-radius: 50%;
        border-top-left-radius: 50%; */
        filter: blur(20px);
        animation-name: anime1;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-direction: alternate;
    }


    #page2{
        min-height: 100vh;
        width: 100%;
        max-width: none;
        background-color: #efeae3;
        padding: 8vw 0;
        position: relative;
    }
    
    
    
    .moving-line{
        white-space: nowrap;
    
    }
    .con-text{
        display: inline-block;
        white-space: nowrap;
        margin-bottom: 10px;
        animation-name: anim;
        animation-timing-function: linear;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        margin-top: 5vw;
        padding-bottom: 50px;
    }
    
    
    .moving-line h1{
        display: inline-block;
    
        font-size: 9vw;
    
    }
    
    .gola{
        margin: 1vw 2vw;
        display: inline-block;
        height: 15px;
        width: 15px;
        background-color: #fe3116;
        border-radius: 50%;
    }


    
    #page2_bottom{
        height: 80vh;
        width: 100%;
        padding: 10vw 3vw;
        background-color:#efeae3 ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    
    #page2_bottom h1{
        width: 90vw;
        font-size: 7vw;
        z-index: 9;
        position: relative;
        font-weight: 900;
        line-height: 6vw;
        z-index: 10;
        padding-bottom: 50px;
    }
    
    #bottom-part2 {
        /* background-color: aqua; */
        width: 55vw;
        z-index: 10;
        position: relative;
        left: -10%;
    }
    
    #bottom-part2 img{
        width: 70vw;
        height: 23vh;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
    }
    
    #bottom-part2 p{
        font-weight: 300;
        margin-top: 2.5vw;
        width: 100vw;
        padding-right: 50vw;
    }
    
    #bada_gol{
        height: 52vw;
        width: 52vw;
        background-color: #fc7339;
        border-radius: 50%;
        position: absolute;
        filter: blur(20px);
        top:40%;
        left: 50%;
        margin: bottom 100px; ;
    }
    
    .circle1{
        height: 42vw;
        width: 42vw;
        background-color: #fc7339;
        border-radius: 50%;
        left: 10%;
        top: 10%;
        position: absolute;
        animation-name: ani;
        animation-timing-function: linear;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        filter: blur(20px);
    }
    .circle2{
        position: absolute;
        height: 42vw;
        width: 42vw;

        left: 10%;
        top: 10%;
        background-color: #e51b00;
        border-radius: 50%;
        animation-name: ani2;
        animation-timing-function: linear;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        filter: blur(20px);
    }
    

    #footer{
        position: fixed;
        background-color: #00000b;
        color: white;
        height: 100vh;
        width: 100vw;
        z-index: 9;
        bottom: 0;
    
        /* align-items: flex-end; */
        justify-content: flex-end;
        flex-direction: column;
        padding: 1vw 3vw;
        flex-direction: column;
    
    }
    
    
    .footerupper{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 30%;
        padding: 0 3vw;
    }
    
    
    
    
    .sundown-img{
        position: relative;
        top: 50%;
        width: 100vw;
    }

    .sundown-img img{
        height: 16vw;
        position: absolute;
    }
    
    
    #footer p{
        font-size: 4.3vw;
        color: #efeae3;
    
    
    } 
    
    #footer h2{
        font-size: 7vw;
        color: #EFEAE3 ;
    
    }
    
    #footer h6{
        /* right: 27%; */
        font-size: 1.2rem;
        padding-top: 30px;
        color: #efeae3;
        font-weight: 200;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
    
    }
    
    .sundown-line{
        border-top: 1px solid #504A45;
        width: 92%;
        top: 90%;
        font-size: 21px;
        color: #efeae3;
        position: absolute;
        height: 10vh;
        padding: 10px;
        gap: 2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        
    }

    .sundown-line h5{
        font-size: 2vh;
    }
    
    #emailId{
        display: flex;
        top: 26%;
        position: absolute;
        right: 10%;
        flex-direction: column;
    }
    
    #emailId h6{
        padding-top: 3vw;
        font-weight: 200;
        font-size: 1.2vw;
        border-bottom: 1px solid #d3cdc1df;
        color: #d3cdc1df;
        padding-bottom: 0.5vw;
    }
    
    .swiper {
        width: 100%;
        min-height: 35vh;
        padding: 5vw 6vw;
        padding-right: 6vw;
        background-color: #EFEAE3;
    }

    .swiper-slide img{
        display: inline-block;
        position: relative;
        width: 51%;
        object-fit: cover;
    }  
    
    
    .swiper-slide {
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0vw 0vw;
        height: 30vh;
        font-size: 18px;
        background-color: #efeae3;
        border-left: 1px solid #aeadad;
        flex-direction: column;
        text-align: left;
        padding-left: 2vw;
        width: auto;
        width: 250px !important;
        gap: 25px;
        white-space: wrap;
    }
    
    .swiper-slide p{
        width: 79%;
        color: #2a2929f4;
        font-size: 3vw;
    }


    .loader{
        height: 100vh;
        width: 100vw;
        background-color: #00000b;
        z-index:99;
        position: fixed;
        top: 0%;
        transition: 0.8s;
        display: flex;
        align-items: center;
        justify-content: center;
    
        
    
    
    }
    
    
    
    .loader h1{
        color: transparent;
        font-size: 10vw;
        position: absolute;
        background: linear-gradient(to right, orange, orangered);
        opacity: 0;
        animation-name: load;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-delay: 1s;
        -webkit-background-clip: text ;
    
    }


    #page3 .elem{
        height: 130px;
        width: 100%;
        border-bottom: 1px solid rgb(191, 179, 179);
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 2vw;
        overflow: hidden;
        background-color: #efeae3;
    
    }


    #page3 .elem h2{
        font-size: 5vw;
    }
    
    

}